@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  font-weight: 100;
  src:
    local('Geist'),
    url('/fonts/Geist-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 200;
  src:
    local('Geist'),
    url('/fonts/Geist-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 300;
  src:
    local('Geist'),
    url('/fonts/Geist-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 400;
  src:
    local('Geist'),
    url('/fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 500;
  src:
    local('Geist'),
    url('/fonts/Geist-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 600;
  src:
    local('Geist'),
    url('/fonts/Geist-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 700;
  src:
    local('Geist'),
    url('/fonts/Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 800;
  src:
    local('Geist'),
    url('/fonts/Geist-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 900;
  src:
    local('Geist'),
    url('/fonts/Geist-UltraBlack.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 100;
  src:
    local('Geist'),
    url('/fonts/GeistMono-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 200;
  src:
    local('Geist'),
    url('/fonts/GeistMono-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 300;
  src:
    local('Geist'),
    url('/fonts/GeistMono-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 400;
  src:
    local('Geist'),
    url('/fonts/GeistMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 500;
  src:
    local('Geist'),
    url('/fonts/GeistMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 600;
  src:
    local('Geist'),
    url('/fonts/GeistMono-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 700;
  src:
    local('Geist'),
    url('/fonts/GeistMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 800;
  src:
    local('Geist'),
    url('/fonts/GeistMono-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 900;
  src:
    local('Geist'),
    url('/fonts/GeistMono-UltraBlack.woff2') format('woff2');
}

* {
  font-family:
    'Geist',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Noto Sans',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-weight: 500;
}

.geist-mono {
  font-family:
    'Geist Mono',
    -apple-system system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Noto Sans',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji' !important;
}
